.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--appNameFont);
  .logo-span {
    display: flex;
    width: auto;
    align-items: center;
    margin-right: 8px;
  }
}
